/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 18px;
  background: #4b21ff;
  font-family: 'Barlow Semi Condensed', sans-serif;
  height: 100%;
}

.menu-icon {
  position: fixed;
  right: 36px;
  top: 36px;
  padding: 20px;
  z-index: 11;
}

.menu-icon .fas {
  font-size: 2rem;
  color: #4b21ff;
}

.primary-btn {
  text-decoration: none;
  background: #4b21ff;
  border-radius: 30px;
  text-align: center;
  color: #fefefe;
  padding: 15px 30px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.primary-btn:hover {
  background: #d5ff21;
  color: #4b21ff;
}

.ghost-btn {
  text-decoration: none;
  border: 4px solid #4b21ff;
  border-radius: 30px;
  text-align: center;
  color: #4b21ff;
  padding: 11px 26px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.ghost-btn:hover {
  border-color: #d5ff21;
}

.primary-btn, .ghost-btn {
  margin-bottom: 20px;
  margin-right: 15px;
}

#menu {
  background: #4b21ff;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#menu nav {
  width: 400px;
  text-align: center;
}

#menu nav a {
  font-size: 2.3rem;
  padding: 1rem;
  display: block;
  text-decoration: none;
  color: white;
}

#menu nav a:hover {
  color: #a9a9a9;
}

.menu-active .menu-icon .fas {
  color: white;
}

.menu-active #menu {
  width: 100%;
  top: 0;
  bottom: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.scroll-section {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 56px;
}

.logo {
  border: 5px solid #fff;
  height: 130px;
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  color: white;
  line-height: 0;
}

.info-section {
  padding: 54px;
  width: 35%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.info-section .info-box {
  padding: 54px;
  position: absolute;
  bottom: 60px;
}

.info-section .info-box h4 {
  font-size: 1.2rem;
  color: #fefefe;
  margin: .7rem 0;
}

.info-section .info-box p {
  font-size: .9rem;
  font-weight: 300;
  color: #fefefe;
  margin: .2rem 0 1.6rem;
}

.info-section .icon-section a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  padding: 0 10px;
}

.info-section .icon-section a:hover {
  color: #d5ff21;
}

.info-section .icon-section a:first-child {
  padding: 0 10px 0 0;
}

.home .info-section {
  padding: 54px;
  width: 35%;
}

.home .content-area {
  margin-left: 35%;
  width: 65%;
  background: #fefefe;
  height: 100%;
}

.home .content-area .img-container {
  display: inline-block;
  width: 30%;
  position: relative;
  height: 100%;
}

.home .content-area .img-container .user-img {
  position: absolute;
  top: 56px;
  left: -190px;
  width: 450px;
  height: calc(100% - 112px);
  background: url(../img/09.jpg) no-repeat 65% center;
  background-size: cover;
  -webkit-box-shadow: 10px 20px 80px 20px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 20px 80px 20px rgba(0, 0, 0, 0.35);
}

.home .content-area .profile-section {
  vertical-align: top;
  display: inline-block;
  padding: 20% 0 0;
  max-width: 500px;
}

.home .content-area .profile-section .profile h1 {
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 1rem;
}

.home .content-area .profile-section .profile h1 span {
  color: #4b21ff;
}

.home .content-area .profile-section .profile h5 {
  font-size: 1.1rem;
  margin: 0 0 2rem;
}

.home .content-area .profile-section .profile p {
  color: #a9a9a9;
  font-weight: 300;
  line-height: 1.4;
  margin: 0 0 2rem;
}

@media (max-width: 767px) {
  .home .menu-icon {
    top: -3px;
    right: 20px;
    color: white;
    position: absolute;
  }
  .home .menu-icon .fas {
    color: white;
  }
  .home .content-area {
    height: auto;
  }
  .home .content-area:after {
    content: "";
    display: table;
    clear: both;
  }
  .home .info-section {
    padding: 10px 20px;
    position: static;
  }
  .home .info-section .logo {
    height: 50px;
    width: 70px;
    font-size: 1rem;
  }
  .home .info-section .info-box {
    display: none;
  }
  .home .content-area {
    margin-left: 0;
    width: 100%;
  }
  .home .content-area .img-container {
    padding: 56px 20px 0;
  }
  .home .content-area .img-container .user-img {
    position: static;
    width: 100%;
    background-position-x: 77%;
  }
  .home .content-area .profile-section {
    width: 70%;
    float: right;
    padding: 20% 20px 0;
  }
  .home .content-area .profile-section .primary-btn, .home .content-area .profile-section .ghost-btn {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .home .info-section {
    padding: 30%;
    padding: 56px 30px;
  }
  .home .info-section .icon-section a {
    font-size: 1.4rem;
  }
  .home .content-area {
    margin-left: 30%;
    width: 70%;
  }
  .home .content-area .img-container {
    padding: 56px 20px 0;
  }
  .home .content-area .img-container .user-img {
    position: static;
    width: 100%;
    background-position-x: 77%;
  }
  .home .content-area .profile-section {
    width: 70%;
    float: right;
    padding: 20% 20px 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .home .info-section .info-box {
    padding: 40px;
  }
  .home .content-area .img-container {
    padding: 56px 20px 0;
    float: left;
  }
  .home .content-area .img-container .user-img {
    position: static;
    width: 100%;
    background-position-x: 77%;
  }
  .home .content-area .profile-section {
    width: 70%;
    float: left;
    padding: 20% 20px 0;
    max-width: 800px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .home .info-section {
    width: 20%;
    padding: 56px 30px;
  }
  .home .info-section .icon-section a {
    font-size: 1.4rem;
  }
  .home .content-area {
    width: 80%;
    margin-left: 20%;
  }
  .home .content-area .img-container {
    padding: 56px 20px 0;
    float: left;
  }
  .home .content-area .img-container .user-img {
    position: static;
    width: 100%;
  }
  .home .content-area .profile-section {
    width: 70%;
    float: left;
    padding: 20% 60px 0;
    max-width: 800px;
  }
}

.resume .info-section {
  width: 20%;
}

.resume .content-area {
  margin-left: 20%;
  width: 80%;
  min-width: 300px;
  background: #fefefe;
  height: 100%;
  overflow: hidden;
}

.resume .content-area .category {
  margin-bottom: 56px;
}

.resume .content-area .category h1 {
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 56px;
}

.resume .content-area .category .xp-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 56px;
  grid-row-gap: 30px;
  max-width: 1100px;
}

.resume .content-area .category .xp-section .xp-box {
  padding: 30px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.resume .content-area .category .xp-section .xp-box:hover {
  -webkit-box-shadow: 0px 20px 74px 20px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 20px 74px 20px rgba(0, 0, 0, 0.12);
}

.resume .content-area .category .xp-section .xp-box h5 {
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 1.4rem;
}

.resume .content-area .category .xp-section .xp-box p {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 0px) and (max-width: 767px) {
  html, body {
    height: auto;
  }
  .resume .menu-icon {
    top: -3px;
    right: 20px;
    color: white;
    position: absolute;
  }
  .resume .menu-icon .fas {
    color: white;
  }
  .resume .info-section {
    padding: 10px 30px;
    position: static;
  }
  .resume .info-section .logo {
    height: 50px;
    width: 70px;
    font-size: 1rem;
  }
  .resume .info-section .info-box {
    display: none;
  }
  .resume .content-area {
    margin-left: 0;
    width: 100%;
    height: auto !important;
  }
  .resume .content-area:after {
    content: "";
    display: table;
    clear: both;
  }
  .resume .content-area .scroll-section {
    padding: 50px 20px;
    width: 100%;
    height: auto;
    overflow: auto;
  }
  .resume .content-area .category {
    width: 100%;
  }
  .resume .content-area .category .xp-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .resume .info-section {
    width: 30%;
    padding: 56px 30px;
  }
  .resume .info-section .icon-section a {
    font-size: 1.4rem;
  }
  .resume .content-area {
    height: auto;
    width: 70%;
    margin-left: 30%;
  }
  .resume .content-area:after {
    content: "";
    display: table;
    clear: both;
  }
  .resume .content-area .category {
    width: 100%;
  }
  .resume .content-area .category .xp-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .resume .info-section {
    width: 30%;
  }
  .resume .info-section .icon-section a {
    font-size: 1.4rem;
  }
  .resume .content-area {
    height: auto;
    width: 70%;
    margin-left: 30%;
  }
  .resume .content-area:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: 1200px) {
  .resume .info-section {
    width: 30%;
  }
  .resume .info-section .icon-section a {
    font-size: 1.4rem;
  }
}

.work .info-section {
  width: 20%;
}

.work .content-area {
  margin-left: 20%;
  width: 80%;
  min-width: 300px;
  background: #fefefe;
  height: 100%;
  overflow: hidden;
}

.work .content-area .work-section {
  margin-bottom: 56px;
}

.work .content-area .work-section h1 {
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 56px;
}

.work .content-area .work-section .project-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.work .content-area .work-section .project-section .project-box {
  position: relative;
  padding: 30px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
  height: 400px;
}

.work .content-area .work-section .project-section .project-box:hover {
  -webkit-box-shadow: 0px 20px 74px 20px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 20px 74px 20px rgba(0, 0, 0, 0.12);
}

.work .content-area .work-section .project-section .project-box .grey-bg {
  background: #efefef;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
}

.work .content-area .work-section .project-section .project-box .grey-bg:hover {
  opacity: .9;
}

.work .content-area .work-section .project-section .project-box .grey-bg:hover .project-info .project-details {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

.work .content-area .work-section .project-section .project-box .grey-bg:hover .project-info .project-title {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

.work .content-area .work-section .project-section .project-box .grey-bg .project-info {
  padding: 56px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.work .content-area .work-section .project-section .project-box .grey-bg .project-info .project-details {
  position: relative;
  font-size: 1.1rem;
  text-transform: capitalize;
  margin: 0 0 1rem;
  -webkit-transform: translate3d(-500px, 0, 0);
          transform: translate3d(-500px, 0, 0);
  opacity: 0;
  -webkit-transition: all .3s ease-in-out .1s;
  transition: all .3s ease-in-out .1s;
}

.work .content-area .work-section .project-section .project-box .grey-bg .project-info .project-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transform: translate3d(950px, 0, 0);
          transform: translate3d(950px, 0, 0);
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.work .content-area .work-section .project-section .project-box .grey-bg .project-info .fa-long-arrow-alt-right {
  position: absolute;
  bottom: 56px;
  right: 56px;
  font-size: 3rem;
}

.work .content-area .work-section .project-section .project-box h5 {
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 1.4rem;
}

.work .content-area .work-section .project-section .project-box p {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 0px) and (max-width: 767px) {
  .contact .menu-icon {
    top: -3px;
    right: 20px;
    color: white;
    position: absolute;
  }
  .contact .menu-icon .fas {
    color: white;
  }
  .contact .content-area {
    height: auto !important;
  }
  .contact .content-area:after {
    content: "";
    display: table;
    clear: both;
  }
  .contact .info-section {
    padding: 10px 20px;
    position: static;
  }
  .contact .info-section .logo {
    height: 50px;
    width: 70px;
    font-size: 1rem;
  }
  .contact .info-section .info-box {
    display: none;
  }
  .contact .content-area {
    margin-left: 0;
    width: 100%;
  }
  .contact .content-area:after {
    content: "";
    display: table;
    clear: both;
  }
  .contact .content-area .img-container {
    width: 100%;
    padding: 56px 20px 0;
    height: auto;
  }
  .contact .content-area .img-container .form-section {
    position: static;
    width: 100%;
    height: auto;
    overflow: auto;
    background-position-x: 77%;
  }
  .contact .content-area .contact-section {
    width: 100%;
    background: #fefefe;
    text-align: center;
  }
  .contact .content-area .contact-section .primary-btn, .contact .content-area .contact-section .ghost-btn {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact .info-section .info-box {
    padding: 20px;
  }
  .contact .info-section .info-box .icon-section a {
    font-size: 1.4rem;
  }
  .contact .content-area {
    height: auto;
  }
  .contact .content-area:after {
    content: "";
    display: table;
    clear: both;
  }
  .contact .content-area .img-container {
    width: 100%;
    padding: 56px 20px 0;
    height: auto;
  }
  .contact .content-area .img-container .form-section {
    position: static;
    width: 100%;
    background-position-x: 77%;
    height: auto;
    overflow: auto;
  }
  .contact .content-area .contact-section {
    width: 100%;
    float: left;
    padding: 20% 20px 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .contact .info-section .info-box {
    padding: 40px;
  }
  .contact .content-area {
    height: auto;
  }
  .contact .content-area:after {
    content: "";
    display: table;
    clear: both;
  }
  .contact .content-area .img-container {
    padding: 56px 20px 0;
    float: left;
    height: auto;
    width: 100%;
  }
  .contact .content-area .img-container .form-section {
    position: static;
    width: 100%;
    background-position-x: 77%;
    float: left;
    height: auto;
    overflow: auto;
  }
  .contact .content-area .contact-section {
    width: 70%;
    float: left;
    padding: 20% 20px 0;
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .contact .content-area .img-container {
    padding: 56px 20px 0;
    float: left;
  }
  .contact .content-area .img-container .form-section {
    width: 400;
    left: -157px;
  }
  .contact .content-area .contact-section {
    width: 70%;
    float: left;
    padding: 20% 60px 0;
    max-width: 800px;
  }
}

@media (min-width: 1500px) {
  .contact .content-area .img-container {
    padding: 56px 20px 0;
    float: left;
  }
  .contact .content-area .img-container .form-section {
    width: 500;
    left: -250px;
  }
  .contact .content-area .contact-section {
    width: 70%;
    float: left;
    padding: 20% 60px 0;
    max-width: 800px;
  }
}

.contact .info-section {
  padding: 54px;
  width: 35%;
}

.contact .content-area {
  margin-left: 35%;
  width: 65%;
  background: #fefefe;
  height: 100%;
}

.contact .content-area .img-container {
  display: inline-block;
  width: 30%;
  position: relative;
  height: 100%;
}

.contact .content-area .img-container .form-section {
  position: absolute;
  top: 56px;
  left: -250px;
  width: 500px;
  height: calc(100% - 112px);
  background: #272727;
  color: #fefefe;
  padding: 46px;
  -webkit-box-shadow: 10px 20px 80px 20px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 20px 80px 20px rgba(0, 0, 0, 0.35);
  overflow-y: auto;
  overflow-x: hidden;
}

.contact .content-area .img-container .form-section h4 {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.contact .content-area .img-container .form-section input[type="text"], .contact .content-area .img-container .form-section input[type="email"], .contact .content-area .img-container .form-section textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #a9a9a9;
  margin-bottom: 2rem;
  font-size: .8rem;
  line-height: 1.2;
  color: #a9a9a9;
  padding: 15px 0;
  font-family: sans-serif;
}

.contact .content-area .img-container .form-section button[type="submit"] {
  background: #4b21ff;
  border: none;
  border-radius: 30px;
  text-align: center;
  color: #fefefe;
  font-size: 1rem;
  padding: 17px 30px;
  text-transform: uppercase;
  width: 100%;
}

.contact .content-area .contact-section {
  vertical-align: top;
  padding: 56px;
  width: 70%;
  float: left;
}

.contact .content-area .contact-section .contact-info h1 {
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 1rem;
}

.contact .content-area .contact-section .contact-info h1 span {
  color: #4b21ff;
}

.contact .content-area .contact-section .contact-info .contact-box {
  max-width: 600px;
  width: 100%;
  padding: 30px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.contact .content-area .contact-section .contact-info .contact-box:hover {
  -webkit-box-shadow: 0px 20px 74px 20px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 20px 74px 20px rgba(0, 0, 0, 0.12);
}

.contact .content-area .contact-section .contact-info .contact-box h5 {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0 0 1.5rem;
}

.contact .content-area .contact-section .contact-info .contact-box p {
  color: #a9a9a9;
  font-weight: 300;
  line-height: 1.4;
  margin: 0 0 2rem;
}

@media (min-width: 0px) and (max-width: 767px) {
  .contact .menu-icon {
    top: -3px;
    right: 20px;
    color: white;
    position: absolute;
  }
  .contact .menu-icon .fas {
    color: white;
  }
  .contact .content-area {
    height: auto !important;
  }
  .contact .content-area:after {
    content: "";
    display: table;
    clear: both;
  }
  .contact .info-section {
    padding: 10px 20px;
    position: static;
  }
  .contact .info-section .logo {
    height: 50px;
    width: 70px;
    font-size: 1rem;
  }
  .contact .info-section .info-box {
    display: none;
  }
  .contact .content-area {
    margin-left: 0;
    width: 100%;
  }
  .contact .content-area:after {
    content: "";
    display: table;
    clear: both;
  }
  .contact .content-area .img-container {
    width: 100%;
    padding: 56px 20px 0;
    height: auto;
  }
  .contact .content-area .img-container .form-section {
    position: static;
    width: 100%;
    height: auto;
    overflow: auto;
    background-position-x: 77%;
  }
  .contact .content-area .contact-section {
    width: 100%;
    background: #fefefe;
    text-align: center;
  }
  .contact .content-area .contact-section .primary-btn, .contact .content-area .contact-section .ghost-btn {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact .info-section .info-box {
    padding: 20px;
  }
  .contact .info-section .info-box .icon-section a {
    font-size: 1.4rem;
  }
  .contact .content-area {
    height: auto;
  }
  .contact .content-area:after {
    content: "";
    display: table;
    clear: both;
  }
  .contact .content-area .img-container {
    width: 100%;
    padding: 56px 20px 0;
    height: auto;
  }
  .contact .content-area .img-container .form-section {
    position: static;
    width: 100%;
    background-position-x: 77%;
    height: auto;
    overflow: auto;
  }
  .contact .content-area .contact-section {
    width: 100%;
    float: left;
    padding: 20% 20px 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .contact .info-section .info-box {
    padding: 40px;
  }
  .contact .content-area {
    height: auto;
  }
  .contact .content-area:after {
    content: "";
    display: table;
    clear: both;
  }
  .contact .content-area .img-container {
    padding: 56px 20px 0;
    float: left;
    height: auto;
    width: 100%;
  }
  .contact .content-area .img-container .form-section {
    position: static;
    width: 100%;
    background-position-x: 77%;
    float: left;
    height: auto;
    overflow: auto;
  }
  .contact .content-area .contact-section {
    width: 70%;
    float: left;
    padding: 20% 20px 0;
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .contact .content-area .img-container {
    padding: 56px 20px 0;
    float: left;
  }
  .contact .content-area .img-container .form-section {
    width: 400;
    left: -157px;
  }
  .contact .content-area .contact-section {
    width: 70%;
    float: left;
    padding: 20% 60px 0;
    max-width: 800px;
  }
}

@media (min-width: 1500px) {
  .contact .content-area .img-container {
    padding: 56px 20px 0;
    float: left;
  }
  .contact .content-area .img-container .form-section {
    width: 500;
    left: -250px;
  }
  .contact .content-area .contact-section {
    width: 70%;
    float: left;
    padding: 20% 60px 0;
    max-width: 800px;
  }
}
/*# sourceMappingURL=main.css.map */